<nav class="navbar navbar-expand-lg bg-dark navbar-dark px-3">
  <a class="navbar-brand fw-bold" routerLink="/admin">FILMY BEST</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <!-- Left menu -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/film" routerLinkActive="active"
          >Films</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/series"
          routerLinkActive="active"
          >Series</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/category"
          routerLinkActive="active"
          >Categories</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
        >
          <i class="bi bi-person-circle me-1"></i> Profil
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <span class="dropdown-item">
               {{ admin?.username}} ({{admin?.role}})
            </span>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item">
              <i class="bi bi-person"></i> Mon compte
            </a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item text-danger" (click)="logout()">
              <i class="bi bi-box-arrow-right"></i> Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container p-5">
  <router-outlet></router-outlet>
</div>


