.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0,0,0,0.6);
  }

  i {
    color: black;
    pointer-events: none;
  }
}
