<div
  [routerLink]="'/films/' + item.id"
  class="card custom-card h-100 shadow-sm bg-dark"
>
  <!-- Image avec overlay -->
  <div class="card-img-wrapper">
    <img [src]="item.image" class="card-img-top" alt="{{ item.title }}" />
    <div class="card-overlay">
      <span class="badge bg-danger">Film</span>
    </div>
  </div>

  <!-- Body -->
  <div class="card-body text-light">
    <h5 class="card-title">{{ item.title }}</h5>
    <p class="duration">
      <i class="bi bi-clock"></i> {{ item.duration | duration }}
    </p>
    <app-star-rating [max]="10" [rating]="item.rating"></app-star-rating>
  </div>
</div>
