<section class="categories-section py-5 bg-dark text-light">
  <div class="container mt-5">
    <h2 class="section-title mb-5">
      <i class="bi bi-tags-fill me-2"></i> Categories
    </h2>

    <div class="row g-4">
      <div class="col-md-4 col-sm-6" *ngFor="let category of categories">
        <div class="category-card shadow-sm" [routerLink]="category.id">
          <div class="card-img-wrapper">
            <img
              [src]="category.image"
              [alt]="category.label"
              class="img-fluid"
            />
            <div class="card-overlay">
              <span class="badge bg-danger">{{ category.label }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-show-more-btn (action)="showMore()" [isLoading]="isLoading" />
</section>
