<div class="container mt-4 card p-4">
  <h2 class="fw-bold mb-4">Edit Serie</h2>

  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="serie.title"
        name="title"
        required
        #title="ngModel"
      />
      @if (title.invalid && title.touched) {
      <div class="text-danger">Title is required</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label fw-semibold">Categories</label>

      <select
        name="category"
        class="form-select"
        [(ngModel)]="selectedCategory"
        (change)="onSelectCategories()"
        required
        #category="ngModel"
      >
        <option value="">Add categories to this film</option>

        @for (item of categories; track item.id) {
        <option [value]="item.id" [disabled]="isCategorySelected(item.id)">
          {{ item.label }}
        </option>
        }
      </select>
      @if (category.invalid && category.touched) {
      <div class="text-danger">Category is required</div>
      }

      <ul class="list-group list-group-horizontal flex-wrap gap-2 mt-2">
        @for (item of serie.categories; track item.id) {
        <li
          class="list-group-item list-group-item-warning rounded-pill px-3 py-1"
          (click)="deleteCategoriesSelected(item.id)"
          style="cursor: pointer"
        >
          {{ item.label }}
          <i class="bi bi-x ms-1"></i>
        </li>
        }
      </ul>
    </div>

    <div class="mb-3">
      <label class="form-label">Image URL</label>
      <input
        type="url"
        class="form-control"
        [(ngModel)]="serie.image"
        name="image"
        required
        #image="ngModel"
      />
      @if (image.invalid && image.touched) {
      <div class="text-danger">Image is required.</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <quill-editor
        [(ngModel)]="serie.description"
        [ngModelOptions]="{ standalone: true }"
        [styles]="{ height: '200px' }"
        placeholder="Écris ton texte..."
        #description="ngModel"
      ></quill-editor>
      @if (description.invalid && description.touched) {
      <div class="text-danger">Description is required.</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Rating</label>
      <input
        type="number"
        min="1"
        max="10"
        class="form-control"
        [(ngModel)]="serie.rating"
        name="rating"
        required
        #rating="ngModel"
      />
      @if (rating.invalid && rating.touched) {
      <div class="text-danger">Rating is required, min 1 and max 10.</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Number of episodes</label>
      <input
        type="number"
        min="1"
        class="form-control"
        [(ngModel)]="serie.episodeNbr"
        name="episodeNbr"
        required
        #episodeNbr="ngModel"
      />

      @if (episodeNbr.invalid && episodeNbr.touched) {
      <div class="text-danger">
        Number of episodes is required and min is 1.
      </div>
      }
    </div>

    <div class="row my-3">
      @for (ep of serie.episodes; track $index) {
      <div class="col-4">
        <app-ep-card [ep]="ep" (delete)="deleteEp($event)" />
      </div>

      } @empty {
      <div class="col-12">
        <div class="alert alert-info text-center">
          No episodes added for this series.
        </div>
      </div>
      }
    </div>
    <div class="my-3">
      @if (serie.episodeNbr > 0 && serie.episodes.length !== serie.episodeNbr) {
      <hr />
      <h5 class="fw-bold mt-4">
        <i class="bi bi-collection-play me-1"></i>
        Episodes details
      </h5>
      <div class="card mt-3 p-3 border-start border-4 border-warning">
        <h6 class="fw-semibold mb-3">Episode {{ epIndex }}</h6>

        <div class="mb-2">
          <label class="form-label">Episode Image URL</label>
          <input
            type="url"
            class="form-control"
            [(ngModel)]="ep.image"
            name="episodeImage"
          />
        </div>

        <div class="mb-2">
          <label class="form-label">Rating</label>
          <input
            type="number"
            min="1"
            max="10"
            class="form-control"
            [(ngModel)]="ep.rating"
            name="episodeRating"
          />
        </div>
        <div class="mb-2">
          <label class="form-label">Duration (Minutes)</label>
          <input
            type="number"
            min="1"
            class="form-control"
            [(ngModel)]="ep.duration"
            name="duration"
          />
        </div>
        <button
          class="btn btn-outline-primary mx-3 mt-2"
          type="button"
          (click)="addEp()"
        >
          Add Episode
        </button>
      </div>

      }
    </div>

    <button class="btn btn-warning px-3" [disabled]="f.invalid">Update</button>
    <a routerLink="/admin/series" class="btn btn-secondary ms-2 px-3">Cancel</a>
  </form>
</div>
