<div class="text-center mt-5 d-flex justify-content-center ">
  <button 
    class="btn btn-danger btn-lg shadow-sm fw-bold d-flex align-items-center justify-content-center gap-2"
    (click)="showMore()" 
    [disabled]="isLoading">

    <ng-container *ngIf="!isLoading; else loadingTpl">
      <i class="bi bi-plus-circle me-2"></i> Show More
    </ng-container>

    <ng-template #loadingTpl>
      <span class="spinner-border spinner-border-sm text-light me-2" role="status"></span>
      Loading...
    </ng-template>
  </button>
</div>
