button.btn {
  min-width: 180px;
  background: #000;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
button.btn:hover{
    background-color:#e50914 ;
}


button.btn:hover:not(:disabled) {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(220, 53, 69, 0.6);
}

.spinner-border {
  animation-duration: 0.6s; /* plus rapide pour effet dynamique */
}
