.navbar {
  background-color: #141414b1 !important; /* Dark mode premium */
}

.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.nav-link {
  color: #bbb !important;
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-link:hover {
  color: #fff !important;
}

.nav-link.active {
  color: #e50914 !important; /* Accent rouge Netflix */
  border-bottom: 2px solid #e50914;
}
input::placeholder{
  color: #bbb;
}

.search-block {
  position: relative;
  max-width: 600px;
}

.search-block input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(220, 53, 69, 0.5); /* glow rouge premium */
}

.search-block ul {
  z-index: 1000;
}
