<div class="container-404 text-center py-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="projector">
        <div class="beam"></div>
      </div>

      <div class="film-reel">
        <span class="digit">4</span>
        <span class="digit">0</span>
        <span class="digit">4</span>
      </div>

      <h3 class="lead neon-text">Scene not found - this content does not yet exist.</h3>
      <a routerLink="/" class="btn bg-black border-2 border-danger text-danger mt-3">Back To Home</a>
    </div>
  </div>
</div>
