.section-title {
  font-weight: bold;
  color: #dc3545;
}

.scroll-container {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #dc3545;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #222;
}

.scroll-item {
  flex: 0 0 calc(100% / 3 - 1rem); /* 3 cards visibles par page */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scroll-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(220, 53, 69, 0.4);
}

input::placeholder{
    color: #fff;
}
