<div class="category-section bg-black text-light">
  <header class="position-relative mb-3">
    <img
      [src]="category.image"
      class="img-fluid rounded shadow-lg"
      alt="category {{ category.label }} Image"
    />
    <span
      class="category-label position-absolute bottom-0 start-0 m-3 px-3 py-1 rounded-pill fw-bold shadow-sm"
    >
      <i class="bi bi-tags-fill me-2"></i> {{ category.label }}
    </span>
  </header>

  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="section-title mb-0 text-danger">
        <i class="bi bi-film me-3"></i> Films
      </h2>
      <div class="d-flex align-items-center">
        <app-search-zone
          [search]="searchFilms"
          placeholder="Search in Films..."
          (searchfn)="onSearchFilms($event)"
        />
        <div class="btn-group ms-3">
          <button
            class="btn btn-danger btn-sm rounded-circle shadow-sm me-2"
            (click)="scrollLeft('filmsScroll')"
          >
            <i class="bi bi-chevron-left"></i>
          </button>
          <button
            class="btn btn-danger btn-sm rounded-circle shadow-sm"
            (click)="scrollRight('filmsScroll')"
          >
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div id="filmsScroll" class="scroll-container d-flex">
      @for (item of films; track $index) {
      <div class="scroll-item me-3">
        <app-film-card [item]="item"></app-film-card>
      </div>
      } @empty {
      <div class="alert alert-info text-center my-3 w-100 fw-bold">
        <i class="bi bi-info-circle-fill me-2"></i> No Films Available!
      </div>
      }
    </div>
  </div>

  <!-- Series -->
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="section-title mb-0 text-danger">
        <i class="bi bi-collection-play me-3"></i> Series
      </h2>
      <div class="d-flex align-items-center">
        <app-search-zone
          [search]="serachseries"
          placeholder="Search in Series..."
          (searchfn)="onSearchSeries($event)"
        />
        <div class="btn-group ms-3">
          <button
            class="btn btn-danger btn-sm rounded-circle shadow-sm me-2"
            (click)="scrollLeft('seriesScroll')"
          >
            <i class="bi bi-chevron-left"></i>
          </button>
          <button
            class="btn btn-danger btn-sm rounded-circle shadow-sm"
            (click)="scrollRight('seriesScroll')"
          >
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div id="seriesScroll" class="scroll-container d-flex">
      @for (item of series; track $index) {
      <div class="scroll-item me-3">
        <app-serie-card [item]="item"></app-serie-card>
      </div>
      } @empty {
      <div class="alert alert-info text-center my-3 w-100 fw-bold">
        <i class="bi bi-info-circle-fill me-2"></i> No Series Available!
      </div>
      }
    </div>
  </div>
</div>
