<div class="d-flex align-items-center row episode-rating">
  <div class="col-8 d-flex stars-wrapper">
    @for (star of stars; track $index; let i = $index) {
      <i
        class="bi"
        [ngClass]="{
          'bi-star-fill': i < fullStars,
          'bi-star-half': i === fullStars && hasHalfStar,
          'bi-star': i > fullStars || (i === fullStars && !hasHalfStar),
          'text-warning glow-star': i < fullStars || (i === fullStars && hasHalfStar),
          'text-secondary': i > fullStars || (i === fullStars && !hasHalfStar)
        }"
      ></i>
    }
  </div>
  <span class="fw-bold text-gradient col-4 text-end">{{ rating }}/{{ max }}</span>
</div>
