<div class="card custom-card h-100 shadow-sm" [routerLink]="'/series/' + item.id">
  <div class="card-img-wrapper">
      <img [src]="item.image" class="card-img-top" alt="{{ item.title }}" />
      <div class="card-overlay">
        <span class="badge bg-danger">Serie</span>
      </div>
    </div>

  <div class="card-body text-light">
    <h5 class="card-title">{{ item.title }}</h5>
    <app-star-rating [max]="10" [rating]="item.rating"></app-star-rating>
    <div class="episode-info mt-2">
      <i class="bi bi-collection-play"></i> Episodes : {{ item.episodeNbr }}
    </div>
  </div>
 
</div>
