<div class="container mt-4">

  <h2 class="mb-4 fw-bold">Admin Dashboard</h2>

  <!-- CARDS STATS -->
  <div class="row g-4 mb-4">
    <div class="col-md-4">
      <div class="card stat-card text-white bg-primary shadow">
        <div class="card-body">
          <h5 class="card-title">Total Films</h5>
          <p class="card-text display-6">{{ totalFilms }}</p>
          <i class="bi bi-film display-4"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card stat-card text-white bg-success shadow">
        <div class="card-body">
          <h5 class="card-title">Total Categories</h5>
          <p class="card-text display-6">{{ totalCategories }}</p>
          <i class="bi bi-tags display-4"></i>
        </div>
      </div>
    </div>
</div>
