<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold"><i class="bi bi-collection-play me-2"></i> Series List</h2>

    <button class="btn btn-primary" (click)="onAdd()">
      <i class="bi bi-plus-lg"></i> Add Serie
    </button>
  </div>
   <app-search-filter
    [sortChoix]="['title', 'rating', 'episodeNbr']"
    (loadData)="loadData($event)"
    (initPage)="initPageTo1()"
  />

  <div class="table-responsive shadow-sm rounded table-scroll">
    <table class="table table-hover align-middle mb-0">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Poster</th>
          <th>Title</th>
          <th>Categories</th>
          <th>Number of episodes</th>
          <th>Rating</th>
          <th style="width: 180px">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(f of series ; track f.id; let i =$index){
        <tr>
          <td>{{ getIndex(i) }}</td>
          <td>
            <img
              [src]="f.image"
              class="rounded shadow-sm"
              alt="poster"
              width="120"
              height="80"
              style="object-fit: cover"
            />
          </td>
          <td class="fw-bold">{{ f.title }}</td>
          <td>
            @for(c of f.categories; track c.id){
            <span class="badge bg-primary me-1">{{ c.label }}</span>
            }
          </td>
          <td>{{ f.episodeNbr  }}</td>
          <td><app-star-rating [rating]="f.rating"></app-star-rating></td>
          <td>
            <div class="btn-group" role="group">
              <button
                class="btn btn-sm btn-outline-info"
                (click)="onShow(f.id)"
                title="Show"
              >
                <i class="bi bi-eye"></i>
              </button>
              <button
                class="btn btn-sm btn-outline-warning"
                (click)="onEdit(f.id)"
                title="Edit"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="onDelete(f.id)"
                title="Delete"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        }@empty {
        <div class="alert alert-info d-flex align-items-center gap-2 mt-2">
          <i class="bi bi-info-circle"></i>
          <span>No data was selected from the database.</span>
        </div>
        }
      </tbody>
    </table>
  </div>
  <div class="card-footer bg-light mt-3">
    <app-pagination
      [page]="page"
      [limit]="limit"
      [hasNext]="hasNext"
      (pageChange)="onPageChange($event)"
      (limitChange)="onLimitChange($event)"
    >
    </app-pagination>
  </div>
</div>
